.weather
{
    box-shadow: 0 0 12px 2px #000;
    position: relative;
}

.weather img
{
    height: 5rem;
    margin-top: -1rem;
}

.weather .cloud
{
    font-style: italic;
}

.search-bar
{
    position: absolute;
    display: flex;
    justify-content: center;
    top: -2rem;
}

.search-bar button
{
    border: none;
    background-color: transparent;
    border-bottom: .125rem solid var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    color: inherit;
}

.search-bar input
{
    outline: none;
    border: none;
    border-bottom: .125rem solid var(--text);
    font-size: 1.2rem;
    background-color: transparent;
    transition: padding .2s ease-in-out;
    color: inherit;
}

.search-bar input:focus
{
    padding-bottom: .5rem;
    border-bottom: .125rem solid #fff;
}

.search-bar input:focus + button
{
    border-bottom: .125rem solid #fff;
}

.search-bar input::-webkit-search-cancel-button
{   
    display: none;
}